@page
@using Task = Tasker.Task
@model Tasker.Pages.Index

@{
    Layout = null;
}

<h1>All Tasks</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
    </tr>
    </thead>
</table>